body {
    margin: 8px 10%;
}
* {
    font-family: 'Microsoft Sans Serif', 'Roboto', 'DengXian', '等线', sans-serif;
    font-size: 16px !important;
}
h3 {
    font-size: 19px !important;
}
p {
    margin: 16px 3px;
}
ul {
    padding-left: 27px;
}
li {
    line-height: 1.4;
}
th, td {
    text-align: left;
    vertical-align: top;
}
hr {
    margin: 24px 0;
}
a {
    color: #0060c0;
    text-decoration: none;
}
a:hover {
    border-bottom: 1px solid #0060c0;
}
.table {
    display: table;
    width: 100%;
}
.row {
    display: table-row;
}
.column {
    display: table-cell;
    text-align: center;
    width: 50%;
}
@media (max-width: 599px)
{
    .column {
        display: table-row;
    }
    .cell {
        display: table-cell;
        text-align: left;
    }
}
@media (max-width: 1200px)
{
    body {
        margin: 8px;
    }
}